---
import { getEntry } from "astro:content";

import LayoutBlog from "../layouts/blog.astro";
import { type CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => {
    const [year, slug] = post.slug.split("/");
    return {
      params: {
        slug: slug.toString(),
      },
      props: post,
    };
  });
}

const post = Astro.props;
const { Content } = await post.render();
---

<LayoutBlog>
  <div class="content">
    <Content />
  </div>
</LayoutBlog>
