---
import Logo from '~/components/logo/index.astro'
---
<div class="footer">
    <div class="container xxl">
        <div class="grid">
            <div class="column">
                <Logo class="logo"/>
            </div>
            <div class="column">
                2
            </div>
        </div>
        <div class="disclaimer">
            <div>
                <a href={'#'} class="link">
                    Privacy Policy
                </a>
            </div>
            <div>
                |
            </div>
            <div>
                <a href={'#'} class="link">
                    Terms and conditions
                </a>
            </div>
        </div>
    </div>
</div>

<style lang="scss">
  @use "sass:list";
  @use "sass:meta";
  @use "sass:string";

  @use "../../styles/app.scss" as app;
  @use "../../styles//scss/mixins.scss" as mixins;

  $footer-component: (
    --padding: 35px 15px,
    background: var(--background),
    /*border-top: var(--border),*/
    padding: var(--padding),

    box-shadow: string.unquote('0 0 24px rgba(34, 42, 53, 0.06), 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(34, 42, 53, 0.04), 0 0 4px rgba(34, 42, 53, 0.08), 0 16px 68px rgba(47, 48, 55, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1) inset'),

    _colors: (
      light : (
        background: rgb(241, 241, 249),
        border : 1px solid rgb(211, 216, 223),
      ),
      dark: (
        background : string.unquote('linear-gradient(oklab(0.551 -0.002652 -0.026869 / 0.2) 0px, rgba(0, 0, 0, 0) 125%)'),
        border : 1px solid rgb(40, 79, 49),
      )
    ),

    _responsive: (
      md: (
        --padding: 35px 5px,
      ),
      lg: (
        --padding: 35px 5px,
      ),
    ),

    _subclasses: (
      '.grid' : (
        --columns: "",
        display: grid,
        grid-template-columns: var(--columns),
        gap: 15px,
        margin: 0 0 1rem 0,
        _responsive: (
          md: (
            --columns: auto 200px 200px,
          ),
          lg: (
            --columns: auto 200px 200px,
          ),
        ),

        _subclasses: (
          '.column' : (
            _subclasses : (
              '.title' : (
                font-size: 1.25rem,
                margin: 0 0 0.5rem 0
              ),
              '.logo' : (
                width: 100px,
                height: 21px,
              )
            )
          )
        )
      ),

      '.disclaimer' : (
        display: flex,
        margin: 0 auto,
        width: auto,
        justify-content: center,
        gap: 10px,
        _subclasses : (
          '> div' : (
          )
        )
      )
    ),
  );

  @include mixins.generate-component(
      $footer-component,
      'footer',
      app.$config,
      app.$theme
  );
</style>