---
const {url} = Astro.props;
---
<div class="iframe-wrapper">
    <iframe src={url} class="iframe" seamless
            onload="this.style.height= this.contentWindow.document.body.scrollHeight + 'px';this.style.visibility = 'visible';
     "/>
</div>

<style lang="scss">

  .iframe-wrapper {
    position: relative;

    .iframe {
      margin: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      position: relative;
      display: block;
      visibility: hidden;
      border-radius: 3px 3px 0 0;
    }

    .background {
      stroke: rgba(40, 51, 56, 0.63);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;

      -webkit-user-select: none;
      user-select: none;
    }
  }
</style>