---
import type { HTMLAttributes } from 'astro/types'
import Logo from '~/components/logo/index.astro'
type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url

const isActive = href === pathname || href === pathname.replace(/\/$/, '')

// development & research
---

<!--
<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
-->
<header class="header">
    <div class="top">
        <div class="container xxl">
            <nav class="navbar">
                <div class="left">
                    <ul class="nav">
                        <li class="item">
                            <a href="#" class="link">
                                1
                            </a>
                        </li>
                        <li class="item">
                            <a href="#" class="link">
                                1
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="center">
                    <a href="/" class="link">
                    <span class="logo-wrapper">
                        <Logo/>
                        <span class="slogan">development & research</span>
                    </span>
                    </a>
                </div>
                <div class="right">
                    <ul class="nav">
                        <li class="item">
                            <a href="#" class="link">
                                1
                            </a>
                        </li>
                        <li class="item">
                            <a href="#" class="link">
                                1
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="bottom">
        <div class="container xxl">
            <nav class="navbar">
                <div class="left">

                </div>
                <div class="center">
                    <ul class="nav">
                        <li class="item">
                            <a href="/category/images" class="link">
                                Art
                            </a>
                        </li>
                        <li class="item">
                            <a href="tags/art" class="link">
                                News
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="right">

                </div>
            </nav>
        </div>
    </div>

</header>

<svg width={15} height={15} class="transition-all relative top-[1px]  h-4 w-0 group-hover/uptime:w-4 inline"
     alt="" style="--currentColor: currentColor;">
    <use href="/assets/icons/heroicons_v2/mini/arrow-right-c07cd271c9c8d131084c513571295decfe8bf410e675cdde2686c1adf90b494b.svg#root"></use>
</svg>
<svg width={15} height={15} class="transition-all relative top-[1px]  h-4 w-4 group-hover/uptime:w-0 inline"
     alt="" style="--currentColor: currentColor;">
    <use href="/assets/icons/heroicons_v2/mini/chevron-right-ee58bdc22e1fb683dd9ffd95ba0c4df56d8a2a0904d7ddbe63b6e2b4ab82f090.svg#root"></use>
</svg>
<svg width={15} height={15} xmlns="http://www.w3.org/2000/svg" id="root" viewBox="0 0 20 20"
     fill="currentColor" aria-hidden="true">
    <path fill-rule="evenodd"
          d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z"
          clip-rule="evenodd"></path>
</svg>
<svg width={15} height={15} xmlns="http://www.w3.org/2000/svg" id="root" viewBox="0 0 20 20"
     fill="currentColor" aria-hidden="true">
    <path fill-rule="evenodd"
          d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
          clip-rule="evenodd"></path>
</svg>
<svg width={15} height={15} xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
    <path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"/>
</svg>
<style lang="scss">

  @use "sass:list";
  @use "sass:string";
  @use "sass:meta";
  @use "sass:map";

  @use "~/styles/app.scss" as app;

  @use "~/styles/scss/mixins.scss" as mixins;
  @use "~/styles/scss/functions.scss" as functions;

  $header-section: (
    /*padding: 10px 5px,*/
    background: var(--background),
    border-bottom: var(--border),
    box-shadow: string.unquote("rgba(13, 13, 17, 0.4) 0px 5px 25px"),
    top: 0,
    position: relative,

    _colors: (
      dark: (
        background:
        string.unquote(
            "linear-gradient(rgba(0, 95, 94, 0.85) 0%, rgba(23, 59, 86, 0.55) 100%)"
        ),
        border: 1px solid #173b56,
      ),
    ),

    _subclasses: (
      '.top' : (
        _subclasses: (
          '.navbar' : (
            border-bottom: 1px solid rgba(255, 255, 255, 0.4),
            padding: 0 0 10px 0,
            margin: 0 0 5px 0,
          )
        )
      ),

      '.bottom' : (
        _subclasses: (
          '.navbar' : (
            padding: 10px 0,
            _subclasses: (
              '.nav' : (
                _subclasses: (
                  '.item' : (
                    _subclasses: (
                      '.link' : (
                        padding: 0 5px,
                        _subclasses: (
                          '&:hover' : (
                            text-decoration: underline,
                          )
                        )
                      )
                    )
                  )
                )
              )
            )
          )
        )
      ),

      ".navbar": (
        --navbar-grid-template-columns: 1fr auto 1fr,
      ),
      "&.sticky": (
        position: sticky,
        -webkit-backdrop-filter: blur(10px),
        backdrop-filter: blur(10px),

        _subclasses : (
          '.logo-wrapper' : (
            _subclasses : (
              '.slogan' : (
                display: none,
                opacity: 0,
                transition: string.unquote('opacity 0.15s ease-out, display 0.15s ease-out allow-discrete'),
                _atrule : (
                  '@starting-style' : (
                    opacity: 1,
                  )
                ),
              )
            )
          ),
        )
      ),
      '.logo-wrapper' : (
        display: flex,
        flex-direction: column,
        align-items: center,
        _subclasses: (
          '.slogan' : (
            opacity: 1,
            display: inherit,
            font-family: string.unquote('monospace, sans-serif'),
            font-size: 0.825rem,
          )
        )
      )
    ),

    _responsive: (
      md: (
        /*padding: 10px 5px,*/
      ),
    ),
  );

  @include mixins.generate-component(
      $header-section,
      "header",
      app.$config,
      app.$theme,
      (add_pseudo_tag: false)
  );
</style>

<script type="text/javascript">
  const nav = document.querySelector('.header')
  const navTop = nav.offsetTop

  function stickyNavigation () {
    if (window.scrollY > navTop) {
      // nav offsetHeight = height of nav
      nav.classList.add('sticky')
    } else {
      nav.classList.remove('sticky')
    }
  }

  window.addEventListener('scroll', stickyNavigation)
</script>