---
import type { HTMLAttributes } from "astro/types";
import Logo from "~/components/logo/index.astro";
type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;

const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<!--
<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
-->
<header class="header">
    <div class="container xxl">
        <nav class="navbar">
            <div class="left">
                <ul class="nav horizontal">
                    <li class="item">
                        <a href="/" class="link">
                            <Logo />
                        </a>
                    </li>
                    <li class="item">
                        <a href="/about" class="link">About</a>
                    </li>
                </ul>
            </div>
            <div class="right"></div>
        </nav>
    </div>
</header>

<style lang="scss">

  @use "sass:list";
  @use "sass:string";
  @use "sass:meta";
  @use "sass:map";

  @use "~/styles/app.scss" as app;

  @use "@nulllogic/scssleon/scss/mixins.scss" as mixins;
  @use "@nulllogic/scssleon/scss/functions.scss" as functions;

  $navbar: functions.get-theme(app.$theme, "components.navbar");

  $navbar: map.deep-merge(
                  $navbar,
                  (
                          --grid-template-columns: auto auto,
                  )
  );

  $header-section: (
          padding: 10px 5px,
          background: var(--background),
          border-bottom: var(--border),
          box-shadow: string.unquote("rgba(13, 13, 17, 0.4) 0px 5px 25px"),
          top: 0,
          position: relative,
          colors: (
                  dark: (
                          background:
                          string.unquote(
                                          "linear-gradient(rgba(0, 95, 94, 0.85) 0%, rgba(23, 59, 86, 0.55) 100%)"
                          ),
                          border: 1px solid #173b56,
                  ),
          ),
          subclasses: (
                  ".navbar": $navbar,
                  "&.sticky": (
                          position: sticky,
                          -webkit-backdrop-filter: blur(10px),
                          backdrop-filter: blur(10px),
                  ),
          ),
          responsive: (
                  md: (
                          padding: 10px 5px,
                  ),
          ),
  );

  @include mixins.generate-component(
                  $header-section,
                  "header",
                  app.$config,
                  app.$theme
  );
</style>

<script type="text/javascript">
    const nav = document.querySelector('.header');
    const navTop = nav.offsetTop;

    function stickyNavigation() {
        if (window.scrollY > navTop) {
            // nav offsetHeight = height of nav
            nav.classList.add('sticky');
        } else {
            nav.classList.remove('sticky');
        }
    }

    window.addEventListener('scroll', stickyNavigation);
</script>
