@use 'sass:map';
@use "sass:string";

@use "./scss/config.scss" as config with (
  $config: (
    prefix: "xii",
    enable: (
      wrapper: false,
    ),
  )
);

@use "./scss/themes/default.scss" as theme with (
  $theme: (
    html : (
      body : (
        _colors: (
          light : (
            background : rgb(246, 239, 233),
            color: rgb(28, 29, 31),
          ),
          dark : (
            background : rgb(5, 17, 4),
            color: '#ccc'
          )
        )
      )
    )
  )
);

$config: config.$config;
$theme: theme.$theme;