@use 'sass:map';
@use 'sass:string';

@forward '@nulllogic/scssleon/scss/mixins';
@forward '@nulllogic/scssleon/scss/functions';

@use '~/styles/scss/config.scss' as config with (
  $config: (
    prefix: "xii",
    enable: (
      wrapper: false,
    ),
  )
);

@use '~/styles/scss/themes/default.scss' as theme with (
  $config : config.$config,
  $theme: (
    root : (
      scroll-timeline: --page-scroll y,
      --padding-inline: 1rem 1rem,
      _responsive : (
        xxl: (
          --padding-inline: 0,
        )
      )
    ),
    html : (
      body : (
        _colors: (
          light : (
            background : rgb(244, 244, 244),
            color: rgb(28, 29, 31),
          ),
          dark : (
            background : rgb(5, 17, 4),
            color: '#ccc'
          )
        )
      )
    )
  )
);

$config: config.$config;
$theme: theme.$theme;
