$config: (
  prefix: "xii",
  enable: (
    wrapper: false,
  ),
) !default;

$theme: () !default;

@use "@nulllogic/scssleon/scss/config.scss" as config with (
  $config: $config
);

@use "@nulllogic/scssleon/scss/themes/default.scss" as theme with (
  $theme: $theme
);

$config: config.$config;
$theme: theme.$theme;

