
---
import Head from "~/components/head/index.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

// Components
import Header from "~/components/header/index.astro";
import Footer from "~/components/footer/index.astro";

const {title, description, published_date, updated_date, featured_image} = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
    <Head
            title={ title + ' | ' + SITE_TITLE + ' ' + 'author'}
            description={description}
            featured_image={featured_image}
            published_date={published_date}
            updated_date={updated_date}
    />
</head>
<body>
<Header />
<main class="main">
    <slot />
</main>
<Footer />
</body>
</html>

<style lang="scss">
  @use "sass:list";
  @use "sass:string";
  @use "sass:meta";
  @use "sass:map";

  @use "~/styles/app.scss" as app;
  @use "@nulllogic/scssleon/scss/mixins.scss" as mixins;
  @use "@nulllogic/scssleon/scss/functions.scss" as functions;

  $main-section: (
      margin: 0 0 15px 0,
      padding: 0 15px,
      responsive: (
          md: (
              padding: 0,
          ),
      ),
  );

  @include mixins.generate-component(
          $main-section,
          "main",
          app.$config,
          app.$theme
  );
</style>

