---
import Head from "../components/head.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

// Components
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <div class="container xl">
      <slot />
    </div>
    <Footer />
    <style type="scss" is:global>
      @import "../styles/xiigrid.scss";
    </style>
  </body>
</html>
