---
---

<nav aria-label="Breadcrumb" class="breadcrumbs">
    <ul class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
        <li class="item" itemprop="itemListElement" itemscope
            itemtype="https://schema.org/ListItem">
            <a href="#" class="link" itemprop="item">
                <span itemprop="name">Home</span>
            </a>
            <meta itemprop="position" content="1"/>
        </li>
        <li class="item">
            <bread-delimiter/>
        </li>
        <li class="item" itemprop="itemListElement" itemscope
            itemtype="https://schema.org/ListItem">
            <a href="#" class="link" itemprop="item">
                <span itemprop="name">Library</span>
            </a>
            <meta itemprop="position" content="2"/>
        </li>
        <li class="item">
            <bread-delimiter/>
        </li>
        <li class="item active" aria-current="page" itemprop="itemListElement" itemscope
            itemtype="https://schema.org/ListItem">
            <span itemprop="name">Award winners</span>
            <meta itemprop="position" content="3"/>
        </li>
    </ul>
</nav>

<style lang="scss">
  @use "sass:list";
  @use "sass:string";
  @use "sass:meta";
  @use "sass:map";

  @use "~/styles/app.scss" as app;

  // ↓ Breadcrumbs
  @use '~/styles/scss/components/breadcrumb' with (
      $config: app.$config,
      $theme: app.$theme
  );

  $breadcrumbs: (
    margin: 0 0 10px 0,
  );

  @include app.generate-component(
      $breadcrumbs,
      'breadcrumbs',
      app.$config,
      app.$theme
  );
</style>

<script>
    customElements.define('bread-delimiter', class extends HTMLElement {
        connectedCallback() {
            this.innerHTML = `<svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
             fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"/>
        </svg>`;
        }
    });
</script>