---
const today = new Date();
---

<footer class="footer">
  <div class="container xxl">
    <div class="grid">
      <div class="left">
        <p>&copy; {today.getFullYear()} NullLab. All rights reserved.</p>
        <ul class="list">
          <li class="item">
            <a href="/terms">Terms</a>
          </li>
          <li class="item">
            <a href="/privacy">Privacy policy</a>
          </li>
        </ul>
      </div>
      <div class="right"></div>
    </div>
  </div>
</footer>

<style lang="scss">
  @use "sass:list";
  @use "sass:string";
  @use "sass:meta";
  @use "sass:map";

  @use "../styles/app.scss" as app;
  @use "@nulllogic/scssleon/scss/mixins.scss" as mixins;
  @use "@nulllogic/scssleon/scss/functions.scss" as functions;

  $footer-section: (
    margin: 0 0 15px 0,
    responsive: (
      md: (
        margin: 0 0 15px 0,
      ),
    ),

    "subclasses": (
      ".grid": (
        display: grid,
        width: 100%,
        grid-template-columns: 1fr,
        grid-auto-rows: autp,
        grid-gap: 1rem,
        padding: 0 15px,
        responsive: (
          md: (
            grid-template-columns: 2.5fr 1.5fr,
            padding: 5px 5px,
          ),
        ),
      ),
    ),
  );

  @include mixins.generate-component(
    $footer-section,
    "footer",
    app.$config,
    app.$theme
  );
</style>
