---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<!--
<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
-->
<header class="header">
  <div class="container xl">
    <nav class="navbar">
      <div class="left">
        <ul class="nav">
          <li class="item">
            <a href="/" class="link">Home</a>
          </li>
          <li class="item">
            <a href="/about" class="link">About</a>
          </li>
        </ul>
      </div>
      <div class="right"></div>
    </nav>
  </div>
</header>

<style lang="scss">
  //  @use "../styles/_mixins.scss" as mixins;
  .header {
  }
</style>
