---
// accept the href prop from the MDX file
const { href }: Record<string, any> = Astro.props

const domain = import.meta.env.site // pulls from astro.config.mjs
let attr: { target?: string; rel?: string } = {}

// check if the link is external
const is_external = (!href.includes(domain) && !href.startsWith('/') &&
  !href.startsWith('#'))
if (is_external) {
  // if it is, add target="_blank" and rel="noopener noreferrer"
  attr['target'] = '_blank'
  attr['rel'] = 'noopener noreferrer'
}
---
<a href={href} {...attr} class="link">
    <slot/>
  {is_external &&
          <svg width="16" height="16" viewBox="-4 -4 20 20"
               xmlns="http://www.w3.org/2000/svg" class="inline-block"
               data-astro-cid-w3eo3aef="">
              <path d="M10.232 5.65c.357 0 .647.29.647.648v3.95c0 .966-.787 1.752-1.754 1.752H1.753A1.755 1.755 0 0 1 0 10.247V2.874c0-.967.786-1.753 1.753-1.753h3.95a.647.647 0 1 1 0 1.294h-3.95a.46.46 0 0 0-.46.46v7.372a.46.46 0 0 0 .46.459h7.372a.46.46 0 0 0 .46-.459v-3.95c0-.356.289-.646.647-.646zm1.72-5.27A.61.61 0 0 1 12 .615v3.693a.615.615 0 1 1-1.23 0V2.1L5.05 7.82a.614.614 0 0 1-.87 0 .615.615 0 0 1 0-.87L9.9 1.23H7.691a.615.615 0 1 1 0-1.23h3.693a.617.617 0 0 1 .568.38z"
                    fill="#fff" fill-rule="evenodd"
                    data-astro-cid-w3eo3aef=""></path>
          </svg>
  }</a>

<style lang="scss">
  @use "sass:list";
  @use "sass:string";
  @use "sass:meta";
  @use "sass:map";

  @use "~/styles/app.scss" as app;

  $link: (
    display: inline-flex,
    align-items: center,
    gap: 1px,
    line-height: 1,
    text-decoration: underline,
  );

  @include app.generate-component(
      $link,
      'link',
      app.$config,
      app.$theme
  );

</style>