---
import LayoutBlog from "../../layouts/blog.astro";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../../content/blog/**/*.mdx");

  // await console.log(allPosts);

  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.frontmatter.tags.includes(tag),
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<LayoutBlog pageTitle={tag}>
  <section class="posts">
    <div class="container xxl">
      <p>Posts tagged with {tag}</p>
      <ul>
        {
          false &&
            posts.map((post) => (
              <a href={post.url} title={post.frontmatter.title} />
            ))
        }
      </ul>
    </div>
  </section>
</LayoutBlog>

<style lang="scss">
  @use "sass:list";
  @use "sass:string";
  @use "sass:meta";
  @use "sass:map";

  @use "../../styles/app.scss" as app;
  @use "@nulllogic/scssleon/scss/mixins.scss" as mixins;
  @use "@nulllogic/scssleon/scss/functions.scss" as functions;

  $posts-section: (
    margin: 15px 0,
    padding: 0 15px,
    responsive: (
      md: (
        padding: 0,
      ),
    ),
  );

  @include mixins.generate-component(
    $posts-section,
    "posts",
    app.$config,
    app.$theme
  );
</style>

